
  <div class="row rowWidth">
    <div class="col-md-12">
       <table class="table">
          <thead>
            <tr>
              <th class="text-center">
               <span> <mat-icon class="matIcon" (click)="openDialog('Add',{},undefined)" class="fontSize">add_circle_outline</mat-icon></span>
              </th>
              <th class="">Sr No.</th>
              <th class="text-center">Employee Id</th>
              <th class="text-center">Employee Name</th>
              <th class="text-center">Employee Title</th>
              <th class="text-center">Date Of Joining</th>
            </tr>
          </thead>
          <tbody class="text-center" *ngIf="empList.length > 0">
            <tr *ngFor="let row of empList;let i = index;trackBy: trackByFn;">
              <td>
                <span><mat-icon class="fontSize" (click)="openDialog('Update',row,i)">edit</mat-icon></span>
                <span><mat-icon class="fontSize" (click)="openDialog('Delete',row,i)">delete_outline</mat-icon> </span>
              </td>
              <td>{{i+1}}</td>
              <td>{{row.sEmployeeId}}</td>
              <td>{{row.sEmployeeName}}</td>
              <td>{{row.sEmployeeTitle}}</td>
              <td>{{row.sDateOfJoining |  date}}</td>
            </tr>
          </tbody>
          <tbody *ngIf="empList.length == 0">
              <tr><td colspan="6"> <i class="fa fa-frown-o"></i> No Records found</td> </tr>
          </tbody>
       </table>
    </div>
  </div>
